[submodule "Pocket-ObjC-SDK"]
	path = Dependencies/Pocket-SDK
url=git@github.com:blackpixel/Pocket-ObjC-SDK.git
[submodule "ADNLogin-SDK-iOS"]
	path = Dependencies/ADNLogin-SDK
url=git@github.com:blackpixel/ADNLogin-SDK-iOS.git
